### Import Libraries

In [81]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler

### Import Dataset

In [82]:
df = pd.read_csv("Salary_Data.csv")

In [83]:
print(df.head())

    Age  Gender Education Level          Job Title  Years of Experience  \
0  32.0    Male      Bachelor's  Software Engineer                  5.0
1  28.0  Female        Master's       Data Analyst                  3.0
2  45.0    Male             PhD     Senior Manager                 15.0
3  36.0  Female      Bachelor's    Sales Associate                  7.0
4  52.0    Male        Master's           Director                 20.0

     Salary
0   90000.0
1   65000.0
2  150000.0
3   60000.0
4  200000.0

### Check for null values

In [84]:
print(df.isnull().values.any())
print(df.isnull().sum())

True
Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

### Imputing

In [85]:
num_cols = ["Age","Years of Experience","Salary"]
cat_cols = ["Gender", "Education Level", "Job Title"]

imputer = SimpleImputer(strategy="mean")
df[num_cols] = imputer.fit_transform(df[num_cols])
imputer = SimpleImputer(strategy="most_frequent")
df[cat_cols] = imputer.fit_transform(df[cat_cols])

In [86]:
print(df.isnull().values.any())
print(df.isnull().sum())

False
Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

### Split Features from the Independent Variable

In [87]:
X = df.iloc[:, :-1]
y = df.iloc[:,-1]

### Encoding Categorical Data

In [88]:
X = pd.get_dummies(X, columns=cat_cols, drop_first=True)

In [89]:
print(X)

       Age  Years of Experience  Gender_Male  Gender_Other  \
0     32.0                  5.0         True         False
1     28.0                  3.0        False         False
2     45.0                 15.0         True         False
3     36.0                  7.0        False         False
4     52.0                 20.0         True         False
...    ...                  ...          ...           ...
6699  49.0                 20.0        False         False
6700  32.0                  3.0         True         False
6701  30.0                  4.0        False         False
6702  46.0                 14.0         True         False
6703  26.0                  1.0        False         False

      Education Level_Bachelor's Degree  Education Level_High School  \
0                                 False                        False
1                                 False                        False
2                                 False                        False
3                                 False                        False
4                                 False                        False
...                                 ...                          ...
6699                              False                        False
6700                              False                         True
6701                               True                        False
6702                              False                        False
6703                              False                         True

      Education Level_Master's  Education Level_Master's Degree  \
0                        False                            False
1                         True                            False
2                        False                            False
3                        False                            False
4                         True                            False
...                        ...                              ...
6699                     False                            False
6700                     False                            False
6701                     False                            False
6702                     False                             True
6703                     False                            False

      Education Level_PhD  Education Level_phD  ...  \
0                   False                False  ...
1                   False                False  ...
2                    True                False  ...
3                   False                False  ...
4                   False                False  ...
...                   ...                  ...  ...
6699                 True                False  ...
6700                False                False  ...
6701                False                False  ...
6702                False                False  ...
6703                False                False  ...

      Job Title_Supply Chain Manager  Job Title_Technical Recruiter  \
0                              False                          False
1                              False                          False
2                              False                          False
3                              False                          False
4                              False                          False
...                              ...                            ...
6699                           False                          False
6700                           False                          False
6701                           False                          False
6702                           False                          False
6703                           False                          False

      Job Title_Technical Support Specialist  Job Title_Technical Writer  \
0                                      False                       False
1                                      False                       False
2                                      False                       False
3                                      False                       False
4                                      False                       False
...                                      ...                         ...
6699                                   False                       False
6700                                   False                       False
6701                                   False                       False
6702                                   False                       False
6703                                   False                       False

      Job Title_Training Specialist  Job Title_UX Designer  \
0                             False                  False
1                             False                  False
2                             False                  False
3                             False                  False
4                             False                  False
...                             ...                    ...
6699                          False                  False
6700                          False                  False
6701                          False                  False
6702                          False                  False
6703                          False                  False

      Job Title_UX Researcher  Job Title_VP of Finance  \
0                       False                    False
1                       False                    False
2                       False                    False
3                       False                    False
4                       False                    False
...                       ...                      ...
6699                    False                    False
6700                    False                    False
6701                    False                    False
6702                    False                    False
6703                    False                    False

      Job Title_VP of Operations  Job Title_Web Developer
0                          False                    False
1                          False                    False
2                          False                    False
3                          False                    False
4                          False                    False
...                          ...                      ...
6699                       False                    False
6700                       False                    False
6701                       False                    False
6702                       False                    False
6703                       False                    False

[6704 rows x 202 columns]

### Splitting the Training Set and Test Set

In [90]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=56)

In [91]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)

       Age  Years of Experience  Gender_Male  Gender_Other  \
4770  26.0                  2.0         True         False
3644  29.0                  5.0        False         False
1900  47.0                 16.0         True         False
4634  27.0                  1.0        False         False
2971  49.0                 22.0        False         False
...    ...                  ...          ...           ...
1259  54.0                 17.0         True         False
5538  24.0                  0.0        False         False
3264  26.0                  2.0         True         False
399   29.0                  4.0         True         False
2532  38.0                 13.0        False         False

      Education Level_Bachelor's Degree  Education Level_High School  \
4770                              False                         True
3644                              False                        False
1900                              False                        False
4634                               True                        False
2971                              False                        False
...                                 ...                          ...
1259                              False                        False
5538                              False                         True
3264                               True                        False
399                               False                        False
2532                              False                        False

      Education Level_Master's  Education Level_Master's Degree  \
4770                     False                            False
3644                     False                             True
1900                     False                            False
4634                     False                            False
2971                     False                            False
...                        ...                              ...
1259                     False                            False
5538                     False                            False
3264                     False                            False
399                      False                            False
2532                     False                             True

      Education Level_PhD  Education Level_phD  ...  \
4770                False                False  ...
3644                False                False  ...
1900                 True                False  ...
4634                False                False  ...
2971                 True                False  ...
...                   ...                  ...  ...
1259                 True                False  ...
5538                False                False  ...
3264                False                False  ...
399                 False                False  ...
2532                False                False  ...

      Job Title_Supply Chain Manager  Job Title_Technical Recruiter  \
4770                           False                          False
3644                           False                          False
1900                           False                          False
4634                           False                          False
2971                           False                          False
...                              ...                            ...
1259                           False                          False
5538                           False                          False
3264                           False                          False
399                            False                          False
2532                           False                          False

      Job Title_Technical Support Specialist  Job Title_Technical Writer  \
4770                                   False                       False
3644                                   False                       False
1900                                   False                       False
4634                                   False                       False
2971                                   False                       False
...                                      ...                         ...
1259                                   False                       False
5538                                   False                       False
3264                                   False                       False
399                                    False                       False
2532                                   False                       False

      Job Title_Training Specialist  Job Title_UX Designer  \
4770                          False                  False
3644                          False                  False
1900                          False                  False
4634                          False                  False
2971                          False                  False
...                             ...                    ...
1259                          False                  False
5538                          False                  False
3264                          False                  False
399                           False                  False
2532                          False                  False

      Job Title_UX Researcher  Job Title_VP of Finance  \
4770                    False                    False
3644                    False                    False
1900                    False                    False
4634                    False                    False
2971                    False                    False
...                       ...                      ...
1259                    False                    False
5538                    False                    False
3264                    False                    False
399                     False                    False
2532                    False                    False

      Job Title_VP of Operations  Job Title_Web Developer
4770                       False                    False
3644                       False                    False
1900                       False                    False
4634                       False                    False
2971                       False                    False
...                          ...                      ...
1259                       False                    False
5538                       False                    False
3264                       False                    False
399                        False                    False
2532                       False                    False

[5363 rows x 202 columns]
       Age  Years of Experience  Gender_Male  Gender_Other  \
3506  32.0                  6.0        False         False
4776  34.0                  9.0         True         False
4539  27.0                  2.0        False         False
4262  44.0                 17.0         True         False
2884  30.0                  6.0        False         False
...    ...                  ...          ...           ...
2506  40.0                 16.0        False         False
2656  33.0                  8.0         True         False
952   42.0                 13.0        False         False
811   32.0                  8.0         True         False
657   30.0                  7.0        False         False

      Education Level_Bachelor's Degree  Education Level_High School  \
3506                              False                        False
4776                              False                        False
4539                               True                        False
4262                              False                        False
2884                              False                        False
...                                 ...                          ...
2506                              False                        False
2656                              False                        False
952                                True                        False
811                               False                        False
657                               False                        False

      Education Level_Master's  Education Level_Master's Degree  \
3506                     False                             True
4776                     False                             True
4539                     False                            False
4262                     False                            False
2884                     False                             True
...                        ...                              ...
2506                     False                             True
2656                     False                             True
952                      False                            False
811                      False                            False
657                      False                            False

      Education Level_PhD  Education Level_phD  ...  \
3506                False                False  ...
4776                False                False  ...
4539                False                False  ...
4262                 True                False  ...
2884                False                False  ...
...                   ...                  ...  ...
2506                False                False  ...
2656                False                False  ...
952                 False                False  ...
811                 False                False  ...
657                  True                False  ...

      Job Title_Supply Chain Manager  Job Title_Technical Recruiter  \
3506                           False                          False
4776                           False                          False
4539                           False                          False
4262                           False                          False
2884                           False                          False
...                              ...                            ...
2506                           False                          False
2656                           False                          False
952                            False                          False
811                            False                          False
657                            False                          False

      Job Title_Technical Support Specialist  Job Title_Technical Writer  \
3506                                   False                       False
4776                                   False                       False
4539                                   False                       False
4262                                   False                       False
2884                                   False                       False
...                                      ...                         ...
2506                                   False                       False
2656                                   False                       False
952                                    False                       False
811                                    False                       False
657                                    False                       False

      Job Title_Training Specialist  Job Title_UX Designer  \
3506                          False                  False
4776                          False                  False
4539                          False                  False
4262                          False                  False
2884                          False                  False
...                             ...                    ...
2506                          False                  False
2656                          False                  False
952                           False                  False
811                           False                  False
657                           False                  False

      Job Title_UX Researcher  Job Title_VP of Finance  \
3506                    False                    False
4776                    False                    False
4539                    False                    False
4262                    False                    False
2884                    False                    False
...                       ...                      ...
2506                    False                    False
2656                    False                    False
952                     False                    False
811                     False                    False
657                     False                    False

      Job Title_VP of Operations  Job Title_Web Developer
3506                       False                    False
4776                       False                    False
4539                       False                    False
4262                       False                    False
2884                       False                    False
...                          ...                      ...
2506                       False                    False
2656                       False                    False
952                        False                    False
811                        False                    False
657                        False                    False

[1341 rows x 202 columns]
4770     31000.0
3644     70000.0
1900    185000.0
4634     45000.0
2971    178684.0
          ...
1259    195000.0
5538     25000.0
3264     60000.0
399     140000.0
2532    134858.0
Name: Salary, Length: 5363, dtype: float64
3506     80000.0
4776    125000.0
4539     42000.0
4262    168000.0
2884    110707.0
          ...
2506    138032.0
2656    120000.0
952     197000.0
811     190000.0
657     185000.0
Name: Salary, Length: 1341, dtype: float64

### Feature Scaling

In [94]:
scaler = StandardScaler()
columns_to_scale = ["Age", "Years of Experience"]
X_train[columns_to_scale] = scaler.fit_transform(X_train[columns_to_scale])
X_test[columns_to_scale] = scaler.transform(X_test[columns_to_scale])

KeyError: ('Age', 'Years of Experience')